*{ 
    padding:0;
    margin:0;
}

body{
    flex-direction: column;
}


#container-update{
    display: flex;
    width:100%;
    height: 650px;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

#form-update{
    position:relative;
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);;
    padding: 3rem;
    height: 530px;
    width: 300px;
    border-left: 1px solid rgba(255,255,255, .3);
    border-top: 1px solid rgba(255,255,255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter:blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0, .2);
    text-align: center;
    
}  


#form-update h1{
    color: #53e3a6;;
    font-weight: 500;
    opacity: .7;
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0,0,0, .2);
}

#form-update p{
    color:#53e3a6;
    font-weight: 500;
    opacity: .7;
    font-size: 1rem;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0,0,0, .2);
}

#form-update input{
    background: transparent;
    border: none;
    border-left: 1px solid rgba(255,255,255, .3);
    border-top:1px solid rgba(255,255,255, .3) ;
    padding: 1rem;
    width: 280px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter:blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0, .2);
    color:white;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0,0,0, .2);
    transition: all .3s;
    margin-bottom: 5%;
    text-align: center;
}  

#form-update button{
    background: transparent;
    border: none;
    border-left: 1px solid rgba(255,255,255, .3);
    border-top:1px solid rgba(255,255,255, .3) ;
    padding: 1rem;
    width: 280px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter:blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0, .2);
    color:white;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0,0,0, .2);
    transition: all .3s;
    margin-bottom: 5%;
}  

::placeholder{
    color:white;

}

#form-update input:hover,
input[type="password"]:focus
input[type="password"]:focus{
    background: rgba(255,255,255, .1);
    box-shadow: 4px 4px 60px 8px rgba(0,0,0, .2);
}

#form-update button:hover,
button:focus
button:focus{
    background: rgba(255,255,255, .1);
    box-shadow: 4px 4px 60px 8px rgba(0,0,0, .2);
}

#form-update button{
    font-size: 1.5rem;
    
}